<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         cacheDirectory=".phpunit.cache"
         colors="true"
         executionOrder="random"
         failOnDeprecation="true"
         failOnPhpunitDeprecation="true"
         failOnNotice="true"
         failOnWarning="true"
         failOnRisky="true"
         displayDetailsOnTestsThatTriggerDeprecations="true"
         displayDetailsOnPhpunitDeprecations="true"
         displayDetailsOnTestsThatTriggerNotices="true"
         displayDetailsOnTestsThatTriggerWarnings="true">
    <testsuites>
        <testsuite name="Ruler Test Suite">
            <directory suffix="Test.php">./tests/</directory>
        </testsuite>
    </testsuites>

    <extensions>
        <bootstrap class="Turker\PHPUnitCoverageReporter\JsonReporterExtension">
            <parameter name="outputFile" value="build/coverage.json"/>
        </bootstrap>
    </extensions>

    <source>
        <include>
            <directory suffix=".php">./src/</directory>
        </include>
    </source>
</phpunit>
